java/.classpath
.idea/FileType-Identification.iml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
new/.idea/description.html
new/.idea/encodings.xml
new/.idea/misc.xml
new/.idea/modules.xml
new/.idea/vcs.xml
new/.idea/project-template.xml
new/out/production/new/com/blueoptima/Main.class
